* {
	box-sizing: border-box;
}

body {
	font-size: 36px;
	font-family: 'Share Tech Mono', monospace;
	/*background: #FFBAF5;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,ffbaf5+97 */
	background: rgb(125,185,232); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(125,185,232,1) 0%, rgba(255,186,245,1) 97%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(125,185,232,1) 0%,rgba(255,186,245,1) 97%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(125,185,232,1) 0%,rgba(255,186,245,1) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#ffbaf5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

.container {
	max-width: 500px;
	margin: 100px auto 0;
	text-align: center;
	box-shadow: 0px 0px 25px #434B50;
}

.row {
	/*display: flex;*/
	display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%
}

.number,
#decimal {
	background: #67BBD5;
}

#output {
	font-family: 'VT323', monospace;
	color: white;
	background: #3B4247;
	/*background: #2C51AA;*/
	/*width: 100%;*/
	padding-top: 100px;
	padding-right: 10px;
	text-align: right;
	font-size: 2.4em;
	grid-column-start: 1;
	grid-column-end: 5;
}

.row-2 {
	background: #2C51AA;
	/*background: #FC5BAE;*/
}

.btn {
	padding: 40px;
	border: 1px solid #284A54;

}

.operators,
#equals {
	background-color: #3EAD32;
}


#num-0 {
	grid-column-start: 1;
	grid-column-end: 3;
}

@media (max-width: 500px) {
	body {
		font-size: 28px;
	}
}
